doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li 
        a(href='/') Home
      li 
        a(href='/files') Search
      li 
        a(href='/users') Users
      li 
        a(href='/calendar') Calendar
      li 
        a(href='/login/logout') Logout
    block content
